<template name='home'>
	<div id='home'>
		<nav>
		<a href="{{pathFor 'signup'}}">sign up</a> | <a href="{{pathFor 'signin'}}">log in</a>
		</nav>
		<header>
			<div class="holder">
				<h3 class="title">Meteor Semantic boilerplate</h3>
				<h4 class="sub-title">by @philip-nunoo</h4>
			</div>
		</header>
		<section class='about'>
			<div class='title'>
				Yet another meteor boilerplate using semantic-ui.
			</div>
			<div class="sub-title">Enjoy</div>
		</section>
		<section class='content'>
			<div class="holder">
				<div class="section">
					<i class="icon-user"></i>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
				</div>
				<div class="section">
					<i class="icon-params"></i>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
				</div>
				<div class="section">
					<i class="icon-wallet"></i>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</div>
				</div>
			</div>
		</section>
		<section class="organization">
			<div class="dark-overlay">
				<div class="holder">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
		</section>
		<footer>
			<div class="social-icons">
				<i class='icon-facebook'></i>
				<i class='icon-twitter'></i>
				<i class="icon-linkedin"></i>
				<i class="icon-google-plus"></i>
				<i class="icon-pinterest-p"></i>
			</div>
			<div class="policy">
				Privacy Policy --- Terms of service
			</div>
			<div class="address">
				My addres goes here GH. All rights reserved
				<div>
					hello@example.com
				</div>
				logo
			</div>
		</footer>
	</div>
</template>